.brand-logo > img{
	max-width: 200px;
}

.btn .red{
	background: red;
}

.map-canvas {
	background-image: url('assets/images/map.png'); 
	background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}