<div class="home">
   <div id="spacelight" class="white_content">
                                  <div class="w-row" style="text-align: center;">
                                  <div class="w-col w-col-4"></div>
                                  <div class="w-col w-col-4">
                                    
                                      <h6 id="zonelightboxname"></h6>
                                      <p id="zonelightboxspaces"></p>
                                      <iframe id="zonestreaming" width="420" height="315" src="" frameborder="0" allowfullscreen></iframe><br>
                                      <a class="btn" onclick="lightboxOut('spacelight','spacefade')">Ok</a>
                                  </div>
                                  <div class="w-col w-col-4"></div>
                                  </div> 
                                    <div class="w-row" >
                                    
                                      
                                      </div>
                                      
     </div>
        <div id="spacefade" class="black_overlay" onclick="lightboxOut('spacelight','spacefade')"></div>
	<div class="container">
              <div class="row center">

                    <h2>Welcome Admin {{auth.profile.nickname}}</h2>
                    <img src="{{auth.profile.picture}}" />
                  </div>

              <div class="row center" style="min-height: 1000px;">
                  
                <div class="col s12 m7">

                  <div class="card" id="adminchartcardhold" style="display:none;">
                  <div class="card-image">
                    <svg height="542" width="706"></svg>
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"></span>
                  </div>
                  </div>
                  <div class="card" id="adminchartcard">
                  <div class="card-image map-canvas" id="adminchart">
                    <!-- <img class="activator" src="assets/images/map.png" style="width: 500px; height: 655px;"> -->

                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Estacionamiento ITESM Guadalajara</span>
                  </div>
                  </div>
                </div>
                <div class="col s12 m5">



                <a ng-click="initNewZone()" class="btn" ng-show="newZone == null && loaded">New Zone</a>
                <div class="row center">
                    <!--display only -->
                    <div class="card padding" ng-repeat="zone in zones | filter:statusFilter track by $index">
                    <div class="card padding" ng-hide="zone == editedZone"> 
                      <div class="row">
                        <div class="input-field col s4">
                           <h6 class="lite" for="roomId">{{zone.name}}</h6>
                        </div>
                        <div class="input-field col s6">
                           <div id="canvas{{zone.id}}"></div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s1">
                           <p class="lite" for="roomId"><strong>ID</strong></p>
                        </div>
                        <div class="input-field col s2">
                            <p>{{zone.id}}</p>
                        </div>
                        <div class="input-field col s1">
                           <p class="lite" for="roomId"><strong>Nombre</strong></p>
                        </div>
                        <div class="input-field col s4">
                            <p>{{zone.name}}</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s1">
                           <p class="lite" for="roomId"><strong>X</strong></p>
                        </div>
                        <div class="input-field col s2">
                            <p>{{zone.x}}</p>

                        </div>
                        <div class="input-field col s1">
                           <p class="lite" for="roomId"><strong>Y</strong></p>
                        </div>
                        <div class="input-field col s2">
                            <p>{{zone.y}}</p>

                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s2">
                           <p class="lite" for="roomId"><strong>Width</strong></p>
                        </div>
                        <div class="input-field col s3">
                            <p>{{zone.w}}</p>

                        </div>
                        <div class="input-field col s2">
                           <p class="lite" for="roomId"><strong>Height</strong></p>
                        </div>
                        <div class="input-field col s3">
                            <p>{{zone.h}}</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s1">
                           <p class="lite" for="roomId"><strong>Angle</strong></p>
                        </div>
                        <div class="input-field col s2">
                            <p>{{zone.angle}}</p>

                        </div>
                        <div class="input-field col s2">
                           <p class="lite" for="roomId"><strong>Capacity</strong></p>
                        </div>
                        <div class="input-field col s2">
                            <p>{{zone.capacity}}</p>

                        </div>
                         <div class="input-field col s2">
                           <p class="lite" for="roomId"><strong>Taken</strong></p>
                        </div>
                        <div class="input-field col s1">
                            <p>{{ zone.full }}</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s4">
                           <p class="lite" for="roomId"><strong>Streaming URL</strong></p>
                        </div>
                        <div class="input-field col s8">
                            <p>{{zone.streamurl}}</p>
                        </div>
                      </div>
                    </div>
                    <!-- edited -->
                    <div class="card padding" ng-show="zone == editedZone">
                      <div class="row">
                        <div class="input-field col s2">
                           <h6 class="lite" for="roomId">{{zone.name}} ({{zone.id}})</h6>
                        </div>
                        <div class="input-field col s2">
                           <div id="edcanvas{{zone.id}}"></div>
                           <p ng-repeat="subCategory in drawCanvas($index)"></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s2">
                           <label class="lite" for="roomId">ID</label>
                        </div>
                        <div class="input-field col s10">
                            <input ng-model="zone.id" type="text">
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s2">
                           <label class="lite" for="roomId">Nombre</label>
                        </div>
                        <div class="input-field col s10">
                            <input ng-model="zone.name" type="text">
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s2">
                           <label class="lite" for="roomId">X</label>
                        </div>
                        <div class="input-field col s4">
                            <input ng-model="zone.x" type="number">

                        </div>
                        <div class="input-field col s2">
                           <label class="lite" for="roomId">Y</label>
                        </div>
                        <div class="input-field col s4">
                            <input ng-model="zone.y" type="number">

                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s2">
                           <label class="lite" for="roomId">Angle</label>
                        </div>
                        <div class="input-field col s4">
                            <input ng-model="zone.angle" type="number">

                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s2">
                           <label class="lite" for="roomId">Width</label>
                        </div>
                        <div class="input-field col s4">
                            <input ng-model="zone.w" type="number">

                        </div>
                        <div class="input-field col s2">
                           <label class="lite" for="roomId">Height</label>
                        </div>
                        <div class="input-field col s4">
                            <input ng-model="zone.h" type="number">

                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s2">
                           <label class="lite" for="roomId">Capacity</label>
                        </div>
                        <div class="input-field col s4">
                            <input ng-model="zone.capacity" type="text">

                        </div>
                         <div class="input-field col s2">
                           <label class="lite" for="roomId">Taken</label>
                        </div>
                        <div class="input-field col s4">
                            <p>{{ zone.full }}</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s4">
                           <label class="lite" for="roomId"><strong>Streaming URL</strong></label>
                        </div>
                        <div class="input-field col s8">
                            <input ng-model="zone.streamurl" type="text">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s4">
                          <a ng-click="editZone($index)" class="btn" ng-hide="zone == editedZone">Edit</a>
                          <a ng-click="doneEditing($index)" class="btn" ng-show="zone == editedZone && newZone == null">Update</a>
                          <a ng-click="addZone()" class="btn" ng-show="newZone != null">Save</a>
                      </div>
                      <div class="input-field col s4">
                          <a ng-click="removeZone($index)" class="btn red" ng-show="zone == editedZone && newZone == null">Delete</a>
                      </div>
                      <div class="input-field col s4">
                          <a ng-click="cancelEditZone($index)" class="btn" ng-show="zone == editedZone">Cancel</a>
                      </div>
                    </div>
                  </div>
                </div>
              <form class="col s12"  ng-show="newZone != null">


            </div>

                </div>
              </div>
          </div>
</div>
<script src="js/adminmapcontrol.js"></script>