



  
   <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
          <div class="row">
            <div class="container">

              <div class="row center">
                <h5 class="header col s12">New Chat Room</h5>
              </div>
              <form class="col s12" >
                <div class="row">
                  <div class="input-field col s8">
                    <input ng-model="roomTitle" class="lite" type="text" name="roomId" id="roomId">
                    <label class="lite" for="roomId">Room Name</label>
                  </div>
                  <div class="input-field col s4">
                    <a ng-click="sendData()" type="button" id="startButton" class="btn btn-success">Join</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col s8">
                    <input ng-model="isPrivate" type="checkbox" class="filled-in" id="filled-in-box" />
                    <label for="filled-in-box">Private</label>
                  </div>
                  <div class="input-field col s4">
                  </div>
                </div>
              </form>
            </div>
          </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/images/background1.png" alt="Unsplashed background img 1"></div>
  </div>
